* {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

a{
    color: black;
}

body{
	font-family: "Quicksand", sans-serif;
}
header{
	padding-top: 50px;
}

.wrapper{
	width: 90%;
	margin: 0 auto;	
}

header .wrapper{
	display: flex;
	justify-content: space-between;
	height: 50px;
	position: relative;
	align-items: center;
}
header .wrapper h1 img{
	width: 120px;
	transition: transform 0.5s ease-in-out;
}

header .wrapper h1 img:hover{
	transform: scale(1.1);
}

header .wrapper ul{
	display: flex;
	justify-content: end;
}

header .wrapper ul li{
	margin-right: 32px;
	display: flex;
	align-items: center;
}

header .wrapper ul li a{
	font-size: 18px;
	font-weight: 400;

}

header .wrapper ul li:first-child a{
	font-weight: 600;

}

header .wrapper ul li:not(:first-child) a:hover{
	text-decoration: underline 3px #FBE0DC;

}

.rounded-text-decoration {
    position: relative;
    text-decoration: none;
    color: black;
	z-index: 1;
  }
  .rounded-text-decoration::after {
	z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px; 
    width: 100%;
    height: 0.2em;
    background-color: #FBE0DC;
    border-radius: 0.1em; 
  }
 

header .wrapper ul li:last-child a{
	font-weight: 600;
	padding: 10px 20px;
	background-color: #FBE0DC;
	border-radius: 25px 25px 10px 10px ;
	display: none;
}


#menuBtn{
	display:none;
	position: absolute;
	right:0%;
	font-weight: 900;
}



#home{
	padding: 60px 0;
}

#home .wrapper{
	display: flex;
	justify-content: space-between;
}

#home .wrapper .left{
	width: 48%;
	align-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#home .wrapper .left .left-section{
	width: 80%;
	justify-content: center;
	margin: 0 auto;
}


#home .wrapper .left h1{
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
}
#home .wrapper .left h1 span{
	font-weight: 800;
}


#home .wrapper .left p{
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 40px;
	color: rgb(121, 121, 121);
}

#home .wrapper .left a{
	width: 160px;
	text-align: center;
	font-weight: 600;
	padding: 10px 20px;
	background-color: #F7C531;
	border-radius: 25px 25px 10px 10px ;
	margin-top: 10px;
}

#home .wrapper .right{
	width: 48%;
}

#home .wrapper .right img{
	width: 90%;
	transition: transform 0.5s ease-in-out;

}

#home .wrapper .right img:hover{
	transform: scale(1.02);
}


#smImg{
	margin-block: 30px;
	width: 100%;
}




/* ===== MEDIA QUERIES ===== MEDIA QUERIES ===== MEDIA QUERIES =====  */


@media only screen and (min-width: 768px) {
	
	header .wrapper ul li:last-child a{
		display: block;
	}
	
	#smImg{
		display: none;
	}
	#home .wrapper .right img{
		display: block;
	} 

  }


  @media only screen and (max-width:768px){
	header .wrapper{
		justify-content: center;
	}
	header .wrapper h1 img{
		width: 150px;
	}

	header .wrapper h1{
		margin-left: 50px;

	}

	#home{
		padding: 30px 0;
		text-align: center;
	} 

	#home .wrapper .left{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	#home .wrapper .right{
		display: none;
	}

	#home .wrapper .left h1{
		font-size: 50px;
		margin-bottom: 20px;
	}

	#home .wrapper .left img{
		width: 100%;
	}

}

@media only screen and (max-width: 575px) {
	
	#menuBtn {
	   left: 0%;
	 }

	 header{
		padding-top: 20px;
	}

	#home .wrapper .left h1{
		font-size: 36px;
		margin-bottom: 20px;
	}
 
	#home .wrapper .left p{
	 font-size: small;
	}
	#home .wrapper .left .left-section{
		width: 100%;
	}
}

@media only screen and (max-width:375px) {
	#home .wrapper .left h1{
		font-size: 28px;
		margin-bottom: 14px;
	}

 }

@media only screen and (max-width: 900px) {
	header .wrapper ul li:not(:last-child) {
	  display: none;
	}

	#menuBtn {
		display: block;
	  }

	  ul{
		  margin-right: 5%;
	  }
}